.ioaccordion-group {}

.ioaccordion-toggle {
	cursor:pointer;
	background:#009036;
	margin-bottom:3px;
	color:#fff;
}

.ioaccordion-content-wrapper {
	display:block;
	overflow:hidden;
	transition:.5s all;
}

.ioaccordion-content {}

.ioaccordion-toggle, .ioaccordion-content {
	padding:14px 16px;
}

.ioaccordion--active {}
