/* CSS Variables */
:root {
	--ionav-color-button: #000;
	--ionav-color-bg: #fff;
	--ionav-color-text: inherit;
	--ionav-color-links: inherit;
	--ionav-color-overlay: rgba(0,0,0,0.5);
}

/* Menu Button */
.ionav-btn { display:none; position:fixed; right:30px; top:33px; z-index:860; width:30px; height:30px; cursor:pointer; }

/* State - Closed */
.ionav--closed	.ionav-btn::before {
	content: "";
	position: absolute; left:0; top:0; bottom:0; z-index:850;
	width: 100%; height:24px;
	background: linear-gradient(
		to bottom,
		var(--ionav-color-button) 0 20%,
		transparent 20% 40%,
		var(--ionav-color-button) 40% 60%,
		transparent 60% 80%,
		var(--ionav-color-button) 80% 100%,
		transparent 0
	);
}

/* State - ACTIVE */
.ionav--active	.ionav-source { display:none; }
.ionav--active .ionav-source.logo, .ionav-source#logo { display:block; }
.ionav--active .ionav-btn { display:block; }

/* State - OPEN */
html.ionav--open, .ionav--open body { overflow:hidden; }
.ionav--open .ionav-overlay { display:block; }
.ionav--open .ionav-btn:hover { opacity: 1; }
.ionav--open .ionav-btn:before, .ionav--open .ionav-btn:after { position: absolute; left: 15px; content: ' '; height:100%; width:3px; background-color:#fff; }
.ionav--open .ionav-btn:before { transform: rotate(45deg); }
.ionav--open .ionav-btn:after { transform: rotate(-45deg); }

/* Overlay / Class Helpers */
.ionav-overlay { display:none; position:fixed; left:0; top:0; width:100%; height:100%; overflow:auto; background:var(--ionav-color-overlay); z-index:840; }
.ionav-hidden { display:none; }

/* Canvas */
.ionav-canvas { width:40%; min-height:100%; max-height:100vw; min-width:240px; background:var(--ionav-color-bg); color:var(--ionav-color-text); }
.ionav-canvas > * { padding-top:20px; background-color:var(--ionav-color-bg); }
.ionav-canvas nav {  }
.ionav-canvas nav ul { list-style-type:none; }
.ionav-canvas nav li {  }
.ionav-canvas nav li li { padding-left:8px; }
.ionav-canvas nav a { display:block; padding:10px; color:var(--ionav-color-links); }
.ionav-canvas .ionav-logo, #ionav-logo { text-align:center; padding-left:20px; padding-right:20px; }

/* Subnavigation - Hide/Show */
.ionav--hasSubnav ul, .ionav--hasSubnav .hasCustomSubnav { display:none; }
ul.ionav--hasSubnav.ionav--active, .hasCustomSubnav.ionav--hasSubnav.ionav--active,
.hasCustomSubnav.ionav--hasSubnav.ionav--active > ul { display:block; }
